{% extends 'admin/index.html.twig' %}

{% block title %}Creation symptome{% endblock %}

{% block body %}
    <h1>Créer un nouveau symptome</h1>

    {{ include('admin/symptom/_form.html.twig') }}

    <a href="{{ path('symptom_index') }}">back to list</a>
{% endblock %}
