{% extends 'base.html.twig' %}

{% block title %}Edit EquipmentSoftware{% endblock %}

{% block body %}
    <h1>Edit EquipmentSoftware</h1>

    {{ include('admin/equipment_software/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('equipment_software_index') }}">back to list</a>

    {{ include('admin/equipment_software/_delete_form.html.twig') }}
{% endblock %}
