{% extends 'admin/index.html.twig' %}

{% block title %}Créer un nouvel équipement{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center">
        <div class="col-md-6">
            <h1>Créer un nouvel équipement</h1>

            {{ include('admin/equipment/_form.html.twig') }}

            <a class="btn btn-info" href="{{ path('equipment_index') }}">Retour</a>
        </div>
    </div>
{% endblock %}
