{% extends 'admin/index.html.twig' %}

{% block body %}
    <div class="row my-3">
       <a href="{{ path('location_add', {'id': equipment.id }) }}" class="btn btn-info">Ajouter une location</a>
    </div>
   {{ include('admin/equipment/_show.html.twig') }}
{% endblock %}





