<form  method="post" action="{{ path('issue_validate', {'id': issue.id}) }}">
        <input type="hidden" name="_method" value="VALIDATE">
        <input type="hidden" name="_token" value="{{ csrf_token('validate' ~ issue.id) }}">
        <button class="col btn btn-success btn-sm"><i class="fas fa-check fa-xs"></i></button>
</form>
