{% extends 'base.html.twig' %}

{% block title %}Tickets{% endblock %}

{% block body %}
    <h1>Tickets</h1>

    {#History table#}
{% include 'issue/_history.html.twig' %}

    <a href="{{ path('issue_new') }}">Create new</a>
{% endblock %}
