{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-6 mx-auto mt-3">
    <div class="card">
            <h4 class="card-header">Déclarer une panne</h4>
        <div class="card-body">
            {{ include('issue/_form.html.twig') }}
        </div>
    </div>

    </div>
    <a href="{{ path('issue_index') }}">back to list</a>
{% endblock %}

