{% extends 'base.html.twig' %}

{% block title %}Gestion des pannes - {{ parent() }}{% endblock %}
{% block sidebar %}
    <li class="nav-item">
        <a class="nav-link {% if isActiveDash is defined and isActiveDash is not null %}active{% endif %}"
           href="{{ path('member_index') }}"><i class="fas fa-chart-line"></i> Tableau de bord</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if isActiveNew is defined and isActiveNew is not null %}active{% endif %}"
           href="{{ path('issue_new') }}"><i class="fas fa-briefcase-medical"></i> Déclarer une panne</a>
    </li>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col">
            {% include 'member/_historic.html.twig' %}
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
{% endblock %}