{% extends 'admin/index.html.twig' %}

{% block title %}Contrats{% endblock %}

{% block body %}
    <h1>Contrats</h1>

    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contract in contracts %}
            <tr>
                <td>{{ contract.id }}</td>
                <td>{{ contract.name }}</td>
                <td>
                    <a class="btn btn-warning btn-sm" href="{{ path('contract_edit', {'id': contract.id}) }}"><i class="fas fa-edit"></i> Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Pas d'enregistrement</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('contract_new') }}"><i class="fas fa-plus-circle"></i> Créer</a>
{% endblock %}
