{% extends 'admin/index.html.twig' %}

{% block title %}Modifier un réseau de transport{% endblock %}

{% block body %}
    <h1>Modifier un réseau de transport</h1>

    {{ include('admin/operator/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('operator_index') }}">retour à la liste</a>

    {{ include('admin/operator/_delete_form.html.twig') }}
{% endblock %}
