{% extends 'member/index.html.twig' %}
{% block sidebar %}
    {{ parent() }}

{% endblock %}

{% block isActiveNew %}{% if isActiveNew %}active{% endif %}{% endblock %}
{% block body %}
    <div class="col-6 mx-auto mt-3">
        <div class="card">
            <h4 class="card-header">Déclarer une panne</h4>
            <div class="card-body">
                {{ include('member/issue/_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $('#issue_equipment').autocompleter({
            url_list: '/member/search'
        });
    </script>
{% endblock %}
