{% extends 'member/index.html.twig' %}
{% block title %}
    Changement de mot de passe - {{ parent() }}
{% endblock %}
{% block body %}

    <div class="col-6 mx-auto mt-3">
        <div class="card">
            <h4 class="card-header">Changement de mot de passe</h4>
            <div class="card-body">
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}