{% extends 'admin/index.html.twig' %}

{% block body %}
    <div class="d-flex justify-content-around flex-wrap">
        {{ render(controller('App\\Controller\\IssueController::countWidget', {})) }}
    </div>
  {% endblock %}