{% extends 'admin/index.html.twig' %}

{% block body %}
    <div class="d-flex justify-content-around flex-wrap">
    <div class="card shadow text-white bg-info" style="width: 20rem;">
        <div class="card-body ">
            <div class="d-flex justify-content-between">
                <i class=" fas fa-medkit fa-5x"></i>
                <div class="d-flex flex-column align-items-end">
                    <h1>15</h1>
                    <p class="card-text">Nouvelles pannes</p>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="d-flex justify-content-between align-items-center">
                <div>Voir détails</div>
                <i class="fas fa-arrow-circle-right fa-2x"></i>
            </div>
        </div>
    </div>
    <div class="card shadow text-white bg-info" style="width: 20rem;">
        <div class="card-body ">
            <div class="d-flex justify-content-between">
                <i class=" fas fa-medkit fa-5x"></i>
                <div class="d-flex flex-column align-items-end">
                    <h1>15</h1>
                    <p class="card-text">Nouvelles pannes</p>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="d-flex justify-content-between align-items-center">
                <div>Voir détails</div>
                <i class="fas fa-arrow-circle-right fa-2x"></i>
            </div>
        </div>
    </div>
    <div class="card shadow text-white bg-info" style="width: 20rem;">
        <div class="card-body ">
            <div class="d-flex justify-content-between">
                <i class=" fas fa-medkit fa-5x"></i>
                <div class="d-flex flex-column align-items-end">
                    <h1>15</h1>
                    <p class="card-text">Nouvelles pannes</p>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="d-flex justify-content-between align-items-center">
                <div>Voir détails</div>
                <i class="fas fa-arrow-circle-right fa-2x"></i>
            </div>
        </div>
    </div>
    </div>

{% endblock %}