{% extends 'base.html.twig' %}

{% block title %}IssueSymptom index{% endblock %}

{% block body %}
    <h1>IssueSymptom index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for issue_symptom in issue_symptoms %}
            <tr>
                <td>{{ issue_symptom.id }}</td>
                <td>
                    <a href="{{ path('issue_symptom_show', {'id': issue_symptom.id}) }}">show</a>
                    <a href="{{ path('issue_symptom_edit', {'id': issue_symptom.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('issue_symptom_new') }}">Create new</a>
{% endblock %}
