<div class="card shadow" style="width: 15rem;">
    <div class="card-header">
        <h5><i class="fas fa-tools"></i> Tickets en cours par exploitants</h5>
    </div>
    <div class="card-body">
        {% for operator in operators %}
        <div class="d-flex justify-content-around flex-wrap">
            <h5><span class="badge badge-secondary">{{ operator.name }}
                    {% set sum = 0 %}
                    {% for user in operator.users %}
                        {% set sum = sum + user.issues.count %}
                    {% endfor %}
                    <span class="badge badge-light">{{ sum }}</span>
                    </span></h5>

            {% else %}
                Pas d'enregistrements
            {% endfor %}
        </div>
    </div>
</div>

