{% extends 'admin/index.html.twig' %}

{% block title %}Reporting{% endblock %}

{% block body %}

    {{ form_start(form) }}
    {{ form_rest(form) }}
    <button class="btn btn-primary">Valider</button>
    {{ form_end(form) }}

{% endblock %}