{% extends 'admin/index.html.twig' %}

{% block title %}Reporting{% endblock %}

{% block body %}

    <table class="table table-sm table-stripped">

        <thead>
        <tr>
            <th>Nombre total de pannes réelles</th>
            <th>Nombre total de fausses pannes</th>
            <th>Nombre total de pannes mois précédent</th>
            <th>Nombre total de pannes mois en cours</th>

        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ countRealIssues }}</td>
            <td>{{ countFakeIssues }}</td>
        </tr>
        </tbody>
    </table>

    <table>
        <thead>

        <tr>
            <th>Catégorie</th>
            <th>Temps d'infisponibilité</th>
            <th>Nombre de pannes</th>

        </tr>
        </thead>
        <tbody>
        <tr>
            <td>

            </td>
        </tr>
        </tbody>
    </table>

{% endblock %}