<form method="post" action="{{ path('part_delete', {'id': part.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cette pièce?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete-part') }}">
    <button class="btn btn-danger"><i class="fas fa-trash-alt"></i> Supprimer</button>
</form>
