<html>
<head>
    <style type="text/css">
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>

</head>
<body>
<p>Bonjour</p>
<p>Un nouveau ticket vient d'être créé</p>
<p>Se rendre à la catégorie Nouveaux tickets: <a href="http://www.siteoise.com/admin/issue/show-new">ici</a></p>
<p>Site.Oise</p>
</body>
</html>


