<html>
<head>
    <style type="text/css">
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>

</head>
<body>
<p>Bonjour</p>
<p>Un nouveau ticket vient d'être créé</p>

<p>Site.Oise</p>
</body>
</html>


