<form method="post" action="{{ path('transportation_delete', {'id': transportation.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ce réseau?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete-transportation') }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
