{% extends 'admin/index.html.twig' %}

{% block title %}Modifier un réseau{% endblock %}

{% block body %}
    <h1>Modifier un réseau de transport</h1>

    {{ include('admin/transportation/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('transportation_index') }}">retour à la liste</a>

    {{ include('admin/transportation/_delete_form.html.twig') }}
{% endblock %}
