{% extends 'admin/index.html.twig' %}

{% block title %}Modifier un réseau{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center">

        <div class="col-md-4">

            <h1>Modifier un réseau de transport</h1>

            {{ include('admin/transportation/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

            <div class="d-flex mt-3 justify-content-between">
                <a class="btn btn-info" href="{{ path('transportation_index') }}">retour à la liste</a>

                {{ include('admin/transportation/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
