{% extends 'admin/index.html.twig' %}

{% block title %}Nouveau réseau de transport{% endblock %}

{% block body %}
    <h1>nouveau réseau de transport</h1>

    {{ include('admin/transportation/_form.html.twig') }}

    <a href="{{ path('transportation_index') }}">back to list</a>
{% endblock %}
