{% extends 'admin/index.html.twig' %}

{% block title %}Ajouter réseau de transport{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center">

        <div class="col-md-4">

            <h1>Ajouter un réseau de transport</h1>

            {{ include('admin/transportation/_form.html.twig') }}

            <a class="btn btn-info mt-3" href="{{ path('transportation_index') }}">Retour</a>
        </div>
    </div>
{% endblock %}
