{% extends 'admin/index.html.twig' %}

{% block title %}Ajouter un nouveau dépot{% endblock %}

{% block body %}

    <div class="d-flex justify-content-center">

        <div class="col-md-4">

            <h1>Ajouter un nouveau dépot</h1>

            {{ include('admin/site/_form.html.twig') }}

            <a class="btn btn-info mt-3" href=" {{ path('site_index') }}">Retour</a>
        </div>
    </div>
{% endblock %}
