{% extends 'admin/index.html.twig' %}

{% block title %}Nouvelle catégorie{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center">
        <div class="col-md-4">

            <h1>Nouvelle catégorie</h1>

            {{ include('admin/category/_form.html.twig') }}

            <a class="btn btn-info mt-1" href="{{ path('category_index') }}"><i class="fas fa-undo-alt"></i> Retour à la liste</a>
        </div>
    </div>
{% endblock %}
