<form method="post" action="{{ path('issue_delete', {'id': issue.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer le ticket {{ issue.id }}?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete-issue') }}">
    <button class="btn btn-outline-danger btn-sm"><i class="fas fa-trash-alt"></i> Supprimer</button>
</form>
