<h4>Historique des pannes</h4>
<div class="row">
    <table class="table">
        <thead>
        <tr>
            <th>Date</th>
            <th>Exploitant</th>
            {#<th>Panne</th>#}
        </tr>
        </thead>
        <tbody>
        {% for issue in issues %}
            <tr>
                <td>{{ issue.dateRequest | date("d/m/Y", "Europe/Paris") }}</td>
                <td>{{ issue.user.operator.name }}</td>
                {#<td>{{ issue.dateRequest }}</td>#}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>