<div class="card shadow text-white bg-danger" style="width: 15rem;">
    <div class="card-body ">
        <div class="d-flex justify-content-between">
            <i class="fas fa-hourglass-start fa-5x"></i>
            <div class="d-flex flex-column align-items-end">
                <h1>{{ countNew }}</h1>
                <p class="card-text">Nouvelles pannes</p>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="d-flex justify-content-between align-items-center">
            <div>Voir détails</div>
            <i class="fas fa-arrow-circle-right fa-2x"></i>
        </div>
    </div>
</div>
<div class="card shadow text-white bg-warning" style="width: 15rem;">
    <div class="card-body ">
        <div class="d-flex justify-content-between">
            <i class="fas fa-hourglass-half fa-5x"></i>
            <div class="d-flex flex-column align-items-end">
                <h1>{{ countPrepare }}</h1>
                <p class="card-text">Pris en compte</p>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="d-flex justify-content-between align-items-center">
            <div>Voir détails</div>
            <i class="fas fa-arrow-circle-right fa-2x"></i>
        </div>
    </div>
</div>
<div class="card shadow text-white bg-success" style="width: 15rem;">
    <div class="card-body ">
        <div class="d-flex justify-content-between">
            <i class="fas fa-hourglass-end fa-5x"></i>
            <div class="d-flex flex-column align-items-end">
                <h1>{{ countReady }}</h1>
                <p class="card-text">Prêt</p>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="d-flex justify-content-between align-items-center">
            <div>Voir détails</div>
            <i class="fas fa-arrow-circle-right fa-2x"></i>
        </div>
    </div>
</div>
<div class="card shadow text-white bg-secondary" style="width: 15rem;">
    <div class="card-body ">
        <div class="d-flex justify-content-between">
            <i class="fas fa-check fa-5x"></i>
            <div class="d-flex flex-column align-items-end">
                <h1>{{ countEnd }}</h1>
                <p class="card-text">Traité</p>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="d-flex justify-content-between align-items-center">
            <div>Voir détails</div>
            <i class="fas fa-arrow-circle-right fa-2x"></i>
        </div>
    </div>
</div>