{% extends 'admin/index.html.twig' %}

{% block title %}Modifier le numéro de série{% endblock %}

{% block body %}
    <h1>Modifier le numéro de série</h1>

    {{ include('admin/issue/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $('#issue_edit_equipment').autocompleter({
            url_list: '/member/equipment_search',
            url_get: '/member/equipment_get'
        });
    </script>
{% endblock %}