{% extends 'admin/index.html.twig' %}

{% block title %}Modifier le numéro de série{% endblock %}

{% block body %}
        <div class="col-6 mx-auto mt-3">
        <div class="card">
            <h4 class="card-header">Modifier le numéro de série</h4>
            <div class="card-body">
                {{ include('admin/issue/_form.html.twig') }}
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $('#issue_edit_equipment').autocompleter({
            url_list: '/member/equipment_search',
            url_get: '/member/equipment_get'
        });
    </script>
{% endblock %}