{% extends 'admin/index.html.twig' %}

{% block title %}Modifier un logiciel{% endblock %}

{% block body %}
    <h1>Modifier un logiciel</h1>

    {{ include('admin/software/_form.html.twig', {'button_label': 'Modifier'}) }}
<div class="row justify-content-between">

    <a class = "btn btn-info" href="{{ path('software_index') }}">Retour à la liste</a>

    {{ include('admin/software/_delete_form.html.twig') }}
</div>
{% endblock %}
