{% extends 'admin/index.html.twig' %}

{% block title %}Modifier un logiciel{% endblock %}

{% block body %}
    <h1>Modifier un logiciel</h1>

    {{ include('admin/software/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('software_index') }}">back to list</a>

    {{ include('admin/software/_delete_form.html.twig') }}
{% endblock %}
