{% extends 'admin/index.html.twig' %}

{% block title %}Nouveau Logiciel{% endblock %}

{% block body %}
    <h1>Créer un nouveau logiciel</h1>

    {{ include('admin/software/_form.html.twig') }}

    <a href="{{ path('software_index') }}">Retour à la liste</a>
{% endblock %}
