{% extends 'bundles/TwigBundle/Exception/index.html.twig' %}

{% block body %}
    <h1>Accès non autorisé</h1>

    <p>
        Vous n'avez pas le droit d'accéder à cette page. <a href="{{ path('member_index') }}">Revenir à la page
            principale</a>.
    </p>
{% endblock %}