{% extends 'base.html.twig' %}

{% block body %}
    <h1>Erreur interne</h1>

    <p>
        <a href="{{ path('member_index') }}">revenir à la page
            principale</a>.
    </p>
{% endblock %}