{% extends 'admin/index.html.twig' %}

{% block title %}Nouveau groupe de pièces{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center">
        <div class="col-md-4">

            <h1>Nouveau groupe de pièces</h1>

            {{ include('admin/partGroup/_form.html.twig') }}

            <a class="btn btn-info mt-1" href="{{ path('part-group_index') }}"><i class="fas fa-undo-alt"></i> Retour à la liste</a>
        </div>
    </div>
{% endblock %}
