{% extends 'base.html.twig' %}

{% block title %}Edit BreakdownSymptom{% endblock %}

{% block body %}
    <h1>Edit BreakdownSymptom</h1>

    {{ include('admin/breakdown_symptom/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('breakdown_symptom_index') }}">back to list</a>

    {{ include('admin/breakdown_symptom/_delete_form.html.twig') }}
{% endblock %}
