{% extends 'base.html.twig' %}

{% block title %}New BreakdownSymptom{% endblock %}

{% block body %}
    <h1>Create new BreakdownSymptom</h1>

    {{ include('breakdown_symptom/_form.html.twig') }}

    <a href="{{ path('breakdown_symptom_index') }}">back to list</a>
{% endblock %}
