{% extends 'admin/index.html.twig' %}

{% block title %}Nouveau Bon de livraison{% endblock %}

{% block body %}
    <h1>Créer un nouveau bon de livraison</h1>

    {{ include('admin/delivery/_deliveryForm.html.twig') }}

    <a class="btn btn-info" href="{{ path('delivery_index') }}">Retour à la liste</a>
{% endblock %}
