<!DOCTYPE html>
<html>
<head>
    <title>Bon de Livraison</title>
    <meta charset="UTF-8">
    <style>
        body{
            font-family: "Verdana", sans-serif;
        }
        .head{


        }

        h2{
            text-transform: uppercase;
            color: #4e555b;
        }

    </style>
</head>
<body>
<div class="head">
    <div>
        <img src="/public/img/om.png" alt="Oise Mobilité">
    </div>
    <div>
        <h2 class="title">bon de livraison</h2>
    </div>
</div>
</body>
</html>